<!-- your html code here -->
<div class="container">
    <h2>Portafolio</h2>
    <p>Donec ullamcoper nulla not metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
        Praesent commodo cursus magna, vel ecelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
    
    <div class="card-group">
        <div class="card mx-2" >
          <img class="card-img-top" src="https://picsum.photos/699/400" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non magnam iste doloremque cum quia harum aliquam provident praesentium, qui facere in quaerat reprehenderit perferendis nobis repellendus a. Explicabo, incidunt.</p>
          </div>
        </div>
        <div class="card mx-2">
            <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non magnam iste doloremque cum quia harum aliquam provident praesentium, qui facere in quaerat reprehenderit perferendis nobis repellendus a. Explicabo, incidunt.</p>
            </div>
          </div>
          <div class="card mx-2">
            <img class="card-img-top" src="https://picsum.photos/701/400" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, non magnam iste doloremque cum quia harum aliquam provident praesentium, qui facere in quaerat reprehenderit perferendis nobis repellendus a. Explicabo, incidunt.</p>
            </div>
          </div>
      </div>
         
    
    
</div>