<section class="container col-9 py-5">
    <div class="d-flex row justify-content-md-between">  
        <div class="col-4">
            <img class="img-fluid rounded-circle" src="/Proyecto colaborativo/exercise-collaborative-html-website/website1/assets/img/2.jpg" alt="imagen-services"></img>
        </div>
        <div class="col text-justify">
            <h2>The Second Heading 
                <span class="text-muted">Is Pretty Cool Too.</span>
            </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ipsam quos atque maxime veniam consectetur quod, laboriosam architecto explicabo tempora, repellat earum est expedita nostrum dicta optio totam velit quia.</p>
        </div>
    </div>
</section>