<!-- your html code here -->

  
<div 
class="jumbotron w-100 px-0" 
style="background-image: url(/website1/assets/img/bg.jpg) ; background-size: cover; background-repeat: no-repeat; height: 75vh; background-position: center bottom;" >
    <div class="container-fluid justify-content-center px-0">
    <h1 class="text-center bg-light display-1 font-weight-bold px-0">One Page Wonder</h1>
    <h2 class="text-center bg-light display-3 font-weight-bold px-0">Will Knock Your Socks Off</h2>
    </div>
</div>